{% extends 'bolt/base.html' %}
{% load static %}

{% block title_block %}
    Add an animal
{% endblock %}


{% block body_block %}
    {% if shelter %}
        <h1>Add an animal to {{ shelter.name }}</h1>
        <div>
            <form id="category_form" method="post" actions="{% url 'bolt:add_animal' shelter.slug %}">
                {% csrf_token %}
                {% for hidden in form.hidden_fields %}
                    {{ hidden }}
                {% endfor %}
                {% for field in form.visible_fields %}
                    {{ field.errors }}
                    {{ field.help_text }}
                    {{ field }}
                {% endfor %}
                <input type="submit" name="submit" value="Put up for Adoption" />
            </form>
        </div>
    {% else %}
        <div>
            The specified shelter does not exist!
        </div>
    {% endif %}
{% endblock %}