{% extends 'bolt/base.html' %} 
{% load static %} 
{% block title_block %} 
My acconut 
{% endblock %} 


{% block body_block %}
<div class="container">
    <h1>My information</h1>
    <div>
    </div>
    <table class="table">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Title</th>
            <th scope="col">Details</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row">1</th>
            <td>Username: </td>
            <td>{{userprofile.username}}</td>
          </tr>
          <tr>
            <th scope="row">2</th>
            <td>Email: </td>
            <td>{{userprofile.email}}</td>
          </tr>
          <tr>
            <th scope="row">3</th>
            <td>First name: </td>
            <td>{{userprofile.first_name}}</td>
          </tr>
          <tr>
            <th scope="row">4</th>
            <td>Last name: </td>
            <td>{{userprofile.last_name}}</td>
          </tr>
          <tr>
            <th scope="row">5</th>
            <td>Contact number: </td>
            <td>{{userprofile.contact_number}}</td>
          </tr>
          <tr>
            <th scope="row">6</th>
            <td>Address: </td>
            <td>{{userprofile.address}}</td>
          </tr>
        </tbody>
      </table>
    <div>
    <img src="{% static 'images/bolt.jpeg' %}" alt="Picture of bolt" />
</div>
</div>
{% endblock %}
